[color]
	ui = true
    diff = auto
    status = auto
    branch = auto
[user]
	name = Eric Keller
	email = eric.keller.ek1@roche.com
[alias]
    st = status
    co = checkout
    ci = commit
    clena = clean
    rb = rebase
    whatadded = log --diff-filter=A
    ds = diff --staged
    fap = fetch --all --prune --tags
    sir = submodule update --init --recursive
    pa = log --pickaxe-regex -p --color-words -S
[svn]
    addAuthorFrom = true
    useLogAuthor = true
    rmdir = true
[merge]
    tool = kdiff3
[gui]
    gcwarning = false
[sendemail]
  smtpencryption = tls
  smtpserver = smtp.gmail.com
  smtpuser = keller.eric@gmail.com
  smtpserverport = 587

[core]
	editor = vi
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
